.site-header {
  background-color: var(--bg-dark-secondary2);
  color: var(--text-primary);
  position: relative;
}

.site-logo {
  height: 120px;
  object-fit: contain;
  margin-right: 10px;
}

.site-header a {
  color: var(--header-text-color) !important;
  transition: color 0.3s ease;
}

.site-header a:hover {
  color: var(--header-logo-hover) !important;
  text-decoration: none;
}